@import url('https://fonts.googleapis.com/css2?family=Miniver&family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
     font-family: "Poppins", sans-serif;
}

:root{
    /* Colors */
    --white-color: #fff;
    --primary-color: #347827 ;
    --primary-color-v1: #3c7e30;
    --primary-color-v2: #2A4E40 ;
    --secondary-color: #8DC0B7;
    --light-color-v1: #F9F9ED;
    --light-color-v2: #DCE6D7;
    --dark-color:#000;
    --gray-color:#777;
    --dark-linear-gradient-color: rgba(17, 21, 36, 0.7);
    --box-shadow-color: rgba(0, 0, 0, 0.3);
    --footer-hover-color: rgba(0, 0, 0, 0.7);
    --image-hover-color: rgba(4, 9, 30, 0.804);
  

    /* Fonts Sizes */
    --font-size-s: 0.9rem/* (14.4px) */;
    --font-size-n: 1rem/* (16px) */;
    --font-size-m: 1.24rem/* (20px) */;
    --font-size-l: 1.5rem/* (24px) */;
    --font-size-xl: 2rem /* (32px) */;
    --font-size-xxl: 2.3rem /* (36.8px) */;
    --font-size-hero: 3.125rem /* (50px) */;

    /* Font Weight  */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Border Radius */
    --border-radius-xs: 10px;
    --border-radius-s: 25px;
    --border-radius-l: 50px;

    /* Border Radius */
     --site-max-width: 1100px;
}

/*-------- Large Screen Styling --------*/
@media screen and (min-width: 1400px){
    .hero-section{
        max-width: var(--site-max-width);
    }
}

.header{
    min-height: 100vh;
    min-width: 100%;
}

/*-------- Nav Styling --------*/
nav{
    display: flex;
    padding: 0.3% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 200px;
}

nav .logo-icon{
   /*  width: auto; */
    height: 100px;
}

nav .fa{
    display: none;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style-type: none;
    display: inline-block;
    padding: 5px 12px;
    position: relative;
}

.nav-links ul li a{
    text-decoration: none;
    color: var(--dark-color);
    font-size: var(--font-size-n);
}

.nav-links ul li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: var(--secondary-color);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li a:hover::after{
    width: 100%;
}

.overlay{
 position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;
 background: var(--box-shadow-color);
 backdrop-filter: blur(5px);
 -webkit-backdrop-filter: blur(5px);
 opacity: 0;
 visibility: hidden;
 transition: 0.4s;
 z-index: 999;
}

.overlay.active{
    opacity: 1;
    visibility: visible;
}

/*-------- Hero Section Styling --------*/
.hero-section{
    width: 80%;
    margin: auto;
    padding-top: 0;
    padding-bottom: 50px;
    min-height: 100vh;
}

.row-hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-col{
    flex-basis: 48%;
    padding: 30px 2px;
}

.hero-col .hero-image{
    width: 100%;
    border-radius: var(--border-radius-xs);
}

.hero-col .hero-title{
    padding-top: 0;
    margin-bottom: 5px;
    font-size: var(--font-size-n);
}

.hero-col .hero-sub-title{
    font-size: 18px;
    font-weight: var(--font-weight-medium);
    margin-bottom: 0;
}

.hero-col .description{
    text-align: left;
    margin: auto;
    font-weight: var(--font-weight-normal);
    padding: 15px 0 25px;
    margin: auto;
}

.hero-buttons{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}

.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: var(--dark-color);
    border: 1px solid var(--dark-color);
    padding: 12px 34px;
    font-size: var(--font-size-s);
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: var(--border-radius-s);
}

.hero-btn:hover{
    background: var(--primary-color);
    color: var(--white-color);
    transition: 1s ease-in-out;
}

.side-btn{
    border: 1px solid var(--primary-color);
    background: var(--primary-color);
    color: var(--white-color);
}

.side-btn:hover{
    color: var(--dark-color);
    background: transparent;
}


/*-------- Responsive Mobile Styling --------*/
@media screen and (max-width: 700px){
    /*---- Nav Styling ----*/
    .nav-links{
        position: fixed;
        background: var(--primary-color-v1);
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 1000;
        transition: 1s;
    }

    .nav-links ul{
        padding: var(--font-size-xxl);
    }

    .nav-links ul li{
        display: block;
        padding: 10px 0;
  
    }

    nav .fa{
        display: block;
        margin: 10px;
        font-size: var(--font-size-l);
        cursor: pointer;
    }

    .hero-section .row-hero{
        flex-direction: column;
    }

    .hero-col{
        margin-bottom: 0;
    }

    .hero-buttons{
        flex-direction: column;
        gap: 15px;
        width: 80%;
        justify-content: center;
    }

    .hero-btn{
        width: 100%;
        text-align: left;
    }

    .hero-col .hero-title{
    font-size: var(--font-size-m);
    }

    .hero-col .hero-sub-title{
        font-size: var(--font-size-n);
    }


}


/*-------- Tablet Styling --------*/
@media screen and (min-width: 701px) and (max-width: 1024px) {
    /*----- Nav Styling -----*/
    .nav-links{
        position: fixed;
        background: var(--primary-color-v1);
        height: 100vh;
        width: 280px;
        top: 0;
        right: -280px;
        text-align: left;
        z-index: 1000;
        transition: 1s;
    }

    .nav-links ul{
        padding: 20px;
    }

    .nav-links ul li{
        display: block;
        padding: 10px 0;
    }

    .nav-links ul li a{
    color: var(--daek-color);
    font-size: var(--font-size-m);
}

    nav .fa{
        display: block;
        margin: 10px;
        font-size: var(--font-size-l);
        cursor: pointer;
    }

    /*-------- Hero Styling --------*/
    .hero-col .hero-title{
        font-size: var(--font-size-m);
    }

    .hero-section{
        width: 90%;
    }

   .hero-col .description{
    font-size: var(--font-size-s);
    }

    .hero-btn{
        padding: 10px 18px;
        font-size: var(--font-size-s);
        white-space: nowrap;
    }

    .hero-buttons{
        gap: 10px;
    }

    
}